body{
	background-color: red;
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/3/30/NJIT_Highlanders_logo.svg/685px-NJIT_Highlanders_logo.svg.png);
	background-position: center;
	background-size: auto;
	background-color: grey;
	background-repeat: no-repeat;
}
fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 1100px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}